<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSBluetoothScan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACDBA5CC1E5FF6E90039C9EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDBA5E01E5FF6EB0039C9EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDBA5EB1E5FF6EB0039C9EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
